<div class="header">
	<div class="row">
	  <div class="col-xs-6 col-md-6">
		<a href="http://www.anthonysenavo.com" target="_self"><img src="Logo.jpg" class="logo" alt="Anthony Sena VO logo"></a>
	  </div>
	  <div class="col-xs-6 col-md-6">
		<div class="social-group">
	  		<div class="social social-container"><i class="fa fa-phone fa-2x" aria-hidden="true"></i>631-375-2803</div>
	  		<div class="social social-container"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>info@anthonysenavo.com</div>
	  		<div class="social social-container">
		  		<a href="https://www.facebook.com/AnthonySenaVO/" target="_blank"><span><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></span>
		  		<span><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></span>
		  		<span><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></span>
		  	</div>
		</div>
	  </div>
	</div>
	<div class="blue-accent"></div>
	<div class="orange-strip"></div>
</div>


