<!DOCTYPE html>  
<html lang="en">  
  <head>
    <title>Anthony Sena VO</title>
    <!-- styles -->
    <link href="styles.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="mediaelementplayer.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="mediaelement-and-player.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      $(document).ready(function() {
        $('audio, video').mediaelementplayer();
      });
    </script>
  </head>

  <body>
    <div class="container-fluid main-container"> 
      <%- include ./partials/header.ejs %>
    
      <div class="body-content">
        <div class="row">
          <div class="col-xs-6 col-md-6 headshot-container">
            <img src="Headshot400.png" class="headshot">
          </div>
          <div class="col-xs-6 col-md-6 about-me">
            <ul class="about-me-heading">
              <li>FRIENDLY</li>
              <li>NATURAL</li>
              <li>PROFESSIONAL</li>
            </ul>
            <p class="about-me-text">
              Hello, I'm Anthony Sena.  What can you expect when you hire me as your voice talent?  You'll not only get a great read, you'll get honesty, professionalism, and dependability.  Who do I sound like?  I'm your neighbor, your buddy, or your Dad.  Please feel free to listen to my commercial demo below.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="pquote">
              <div class="quote-text">
                &quot;Words mean more than what is set down on paper. It takes the human voice to infuse them with deeper meaning.&quot;
              </div>
              <div class="author-credit">-Maya Angelou</div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6">
            <div class="player-container">
              <p><b>Anthony Sena Commercial Demo</b></p>
              <audio id="player" src="ComeBackSoon.mp3" type="audio/mp3" controls="controls"></audio>
            </div>
          </div>
        </div>
      </div>


      <%- include ./partials/footer.ejs %>
    </div>

  </body>
</html>