html {
    height: 100%;  
}

body {
  height: 100%;
  padding: 0;
  margin: 0 0 50px; /* bottom = footer height */
  background-color: #eee !important;
  font-family: Arial, Helvetica;
}

ul { text-align : center; }
ul li { display: inline; white-space: pre; }
ul li:after { content: "  \2022  "; }
ul li:last-child:after { content: ""; }

.row {
  padding: 0 !important;
  margin: 0 !important;
}

[class*="col-"] {
  padding: 0 !important;
  margin: 0 !important;
}

.main-container {
  position: relative;
  min-height: 100%;
  max-width: 1200px;
  background-color: #fff;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.header {

}

.logo {
  padding: 10px;
}

.body-content {
  padding: 15px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}

.pquote {
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 20px;
  padding: 20px 20px 0 40px;
}

.author-credit {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 50px 0 0;
  color: #333;
  text-align: right;
}

.headshot-container {
  text-align: center;
  border: 1px solid black;
}

.headshot {
  width: 60%;
}

.about-me {
  font-size: 16px;
  color: #333;
}

.about-me-heading {
  padding-top: 10px;
  font-weight: bold;
}

.about-me-text {
  padding: 15px 10px 0 20px;
  line-height: 27px;
}

.player-container {
  margin: 20px;
  padding: 20px;
}

.social [class*="fa fa-"] {
  background-color: #333;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: auto 3px;
  width: 30px;
  font-size: 15px;
  text-align: center;
}

.orange-strip {
  height: 40px;
  max-width: 1200px;
  background-color: orange;
}

.social-container {
  padding-top:10px;
  font-weight: bold;
  white-space: nowrap;
  max-width: 300px;
  text-align: left;
}

.social-group {
  width: 300px;
  margin: auto;
}

.blue-accent {
   height: 5px;
   background-color: #0e1e63;
}

.footer {
  text-align: center;
  position: absolute;
  background-color: orange;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.footer-text {
  font-size: 12px;
  padding-top: 10px;
}